{% load i18n staticfiles cms_tags sekizai_tags menu_tags %}

{% block about_footer %}

<!-- Start About area -->
<div id="about" class="about-area area-padding">
    <div class="container">
        <div class="row">
            <div class="col-md-12 col-sm-12 col-xs-12">
                <div class="section-headline text-center">
                    <h2>About FakeNews</h2>
                </div>
            </div>
        </div>
        <div class="row">
            <!-- single-well start-->
            <div class="col-md-6 col-sm-6 col-xs-12">
                <div class="well-left">
                    <div class="single-well">
                        <a href="#">
                            <img src="{% static 'images/about/1.jpg' %}" alt="">
                        </a>
                    </div>
                </div>
            </div>
            <!-- single-well end-->
            <div class="col-md-6 col-sm-6 col-xs-12">
                <div class="well-middle">
                    <div class="single-well">
                        <a href="#">
                            <h4 class="sec-head">project Maintenance</h4>
                        </a>
                        <p>
                            Redug Lagre dolor sit amet, consectetur adipisicing elit. Itaque quas officiis iure
                            aspernatur
                            sit
                            adipisci quaerat unde at nequeRedug Lagre dolor sit amet, consectetur adipisicing elit.
                            Itaque
                            quas
                            officiis iure
                        </p>
                        <ul>
                            <li>
                                <i class="fa fa-check"></i> Interior design Package
                            </li>
                            <li>
                                <i class="fa fa-check"></i> Building House
                            </li>
                            <li>
                                <i class="fa fa-check"></i> Reparing of Residentail Roof
                            </li>
                            <li>
                                <i class="fa fa-check"></i> Renovaion of Commercial Office
                            </li>
                            <li>
                                <i class="fa fa-check"></i> Make Quality Products
                            </li>
                        </ul>
                    </div>
                </div>
            </div>
            <!-- End col-->
        </div>
    </div>
</div>
<!-- End About area -->

<!-- Start Google Map -->
<div class="col-md-6 col-sm-6 col-xs-12">
    <!-- Start Map -->
    <iframe
        src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d22864.11283411948!2d-73.96468908098944!3d40.630720240038435!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x89c24fa5d33f083b%3A0xc80b8f06e177fe62!2sNew+York%2C+NY%2C+USA!5e0!3m2!1sen!2sbg!4v1540447494452"
        width="100%" height="380" frameborder="0" style="border:0" allowfullscreen></iframe>
    <!-- End Map -->
</div>
<!-- End Google Map -->

<!-- Start  contact -->
<div class="col-md-6 col-sm-6 col-xs-12">
    <div class="form contact-form">
        <div id="sendmessage">Your message has been sent. Thank you!</div>
        <div id="errormessage"></div>
        <form action="" method="post" role="form" class="contactForm">
            <div class="form-group">
                <input type="text" name="name" class="form-control" id="name" placeholder="Your Name"
                    data-rule="minlen:4" data-msg="Please enter at least 4 chars" />
                <div class="validation"></div>
            </div>
            <div class="form-group">
                <input type="email" class="form-control" name="email" id="email" placeholder="Your Email"
                    data-rule="email" data-msg="Please enter a valid email" />
                <div class="validation"></div>
            </div>
            <div class="form-group">
                <input type="text" class="form-control" name="subject" id="subject" placeholder="Subject"
                    data-rule="minlen:4" data-msg="Please enter at least 8 chars of subject" />
                <div class="validation"></div>
            </div>
            <div class="form-group">
                <textarea class="form-control" name="message" rows="5" data-rule="required"
                    data-msg="Please write something for us" placeholder="Message"></textarea>
                <div class="validation"></div>
            </div>
            <div class="text-center"><button type="submit">Send Message</button></div>
        </form>
    </div>
</div>
<!-- End Left contact -->
</div>
</div>
</div>
</div>
<!-- End Contact Area -->

<!-- Start Footer bottom Area -->
<footer>
    <div class="footer-area">
        <div class="container">
            <div class="row">
                <div class="col-md-4 col-sm-4 col-xs-12">
                    <div class="footer-content">
                        <div class="footer-head">
                            <div class="footer-logo">
                                <h2><span>Fake</span>News</h2>
                            </div>

                            <p>Sed ut perspiciatis unde omnis iste natus error sit voluptatem accusantium doloremque
                                laudantium,
                                totam rem aperiam, eaque ipsa quae ab illo inventore veritatis.</p>
                            <div class="footer-icons">
                                <ul>
                                    <li>
                                        <a href="#"><i class="fa fa-facebook"></i></a>
                                    </li>
                                    <li>
                                        <a href="#"><i class="fa fa-twitter"></i></a>
                                    </li>
                                    <li>
                                        <a href="#"><i class="fa fa-google"></i></a>
                                    </li>
                                    <li>
                                        <a href="#"><i class="fa fa-pinterest"></i></a>
                                    </li>
                                </ul>
                            </div>
                        </div>
                    </div>
                </div>
                <!-- end single footer -->
                <div class="col-md-4 col-sm-4 col-xs-12">
                    <div class="footer-content">
                        <div class="footer-head">
                            <h4>information</h4>
                            <p>
                                Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor.
                            </p>
                            <div class="footer-contacts">
                                <p><span>Tel:</span> +123 456 789</p>
                                <p><span>Email:</span> contact@fakenews.com</p>
                                <p><span>Working Hours:</span> 9am-5pm</p>
                            </div>
                        </div>
                    </div>
                </div>
                <!-- end single footer -->
                <div class="col-md-4 col-sm-4 col-xs-12">
                    <div class="footer-content">
                        <div class="footer-head">
                            <h4>Instagram</h4>
                            <div class="flicker-img">
                                <a href="#"><img src="{% static 'images/portfolio/1.jpg' %}" alt=""></a>
                                <a href="#"><img src="{% static 'images/portfolio/2.jpg' %}" alt=""></a>
                                <a href="#"><img src="{% static 'images/portfolio/3.jpg' %}" alt=""></a>
                                <a href="#"><img src="{% static 'images/portfolio/4.jpg' %}" alt=""></a>
                                <a href="#"><img src="{% static 'images/portfolio/5.jpg' %}" alt=""></a>
                                <a href="#"><img src="{% static 'images/portfolio/6.jpg' %}" alt=""></a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="footer-area-bottom">
        <div class="container">
            <div class="row">
                <div class="col-md-12 col-sm-12 col-xs-12">
                    <div class="copyright text-center">
                        <p>
                            &copy; Copyright <strong>FakeNews</strong>. All Rights Reserved
                        </p>
                    </div>
                    <div class="credits">
                        <!--
                    All the links in the footer should remain intact.
                    You can delete the links only if you purchased the pro version.
                    Licensing information: https://bootstrapmade.com/license/
                    Purchase the pro version with working PHP/AJAX contact form: https://bootstrapmade.com/buy/?theme=eBusiness
                  -->
                        Stolen by <a href="https://bootstrapmade.com/">S.L.</a>
                    </div>
                </div>
            </div>
        </div>
    </div>
</footer>

<a href="#" class="back-to-top"><i class="fa fa-chevron-up"></i></a>

{% endblock %}