{% load i18n staticfiles cms_tags sekizai_tags menu_tags %}

{% block header %}

<!-- Start Header Area -->
<header>
    <div class="main-menu" id="main-menu">
        <div class="container">
            <div style="margin-right:30%;" class="row align-items-center justify-content-between">

                <nav style="margin-left:0px;" id="nav-menu-container" class="ml-auto">
                    <ul class="nav-menu">
                        <li class="menu-active"><a href="http://localhost:8000">Home</a></li>
                        <li><a href="http://localhost:8000/articles">All News</a></li>
                        <li>
                            <a class="page-scroll" href="http://127.0.0.1:8000/contact">Contact</a>
                        </li>
                        <li>
                            <a class="page-scroll" href="http://127.0.0.1:8000/searching">Search</a>
                        </li>
                        <li>
                            {% if not user.is_authenticated %}
                            <a class="page-scroll" href="http://localhost:8000/accounts/login">Sign In <i
                                    class="fa fa-sign-in" aria-hidden="true"></i>
                            </a></li>
                        {% else %}

                        <li><a class="page-scroll" href="http://localhost:8000/accounts/logout">Sign Out <i
                                    class="fa fa-sign-in" aria-hidden="true"></i></li>
                        {% endif %}
                    </ul>
                </nav>
            </div>
        </div>
    </div>
</header>
<!-- End Header Area -->

{% endblock %}