{% load i18n staticfiles cms_tags sekizai_tags menu_tags %}

{% block header %}

<!-- Start Header Area -->
<header>
    <div class="main-menu" id="main-menu">
        <div class="container text-center">
            <div style="margin-right:32.5%;" class="text-center row align-items-center justify-content-between">

                <nav style="margin-left:0px;" id="nav-menu-container" class="ml-auto">
                    <ul class="nav-menu">
                        <li class="menu-active"><a href="http://localhost:8000/booking">Home</a></li>
                        <li><a href="http://localhost:8000/booking/apartments">Listings</a></li>
                        <li>
                            <a class="page-scroll" href="http://127.0.0.1:8000/booking/contact">Contact</a>
                        </li>
                        <li>
                            <a class="page-scroll" href="http://127.0.0.1:8000/booking/search">Search</a>
                        </li>
                        <li>
                            {% if not user.is_authenticated %}
                            <a class="page-scroll" href="http://localhost:8000/accounts/login">Sign In
                            </a></li>
                        {% else %}

                        <li><a class="page-scroll" href="http://localhost:8000/accounts/logout">Sign Out</li>
                        {% endif %}
                    </ul>
                </nav>
            </div>
        </div>
    </div>
</header>
<!-- End Header Area -->
{% endblock %}