{% load i18n staticfiles cms_tags sekizai_tags menu_tags %}

{% block carousel_slider %}


<body data-spy="scroll" data-target="#navbar-example">
    <!-- Start Slider Area -->
    <div id="home" class="slider-area">
        <div class="bend niceties preview-2">
            <div id="ensign-nivoslider" class="slides">
                <img src="{% static 'images/slider/slider1.jpg' %}" alt="" title="#slider-direction-1" />
                <img src="{% static 'images/slider/slider2.jpg' %}" alt="" title="#slider-direction-2" />
                <img src="{% static 'images/slider/slider3.jpg' %}" alt="" title="#slider-direction-3" />
            </div>

            <!-- direction 1 -->
            <div id="slider-direction-1" class="slider-direction slider-one">
                <div class="container">
                    <div class="row">
                        <div class="col-md-12 col-sm-12 col-xs-12">
                            <div class="slider-content">
                                <!-- layer 1 -->
                                <div class="layer-1-1 hidden-xs wow slideInDown" data-wow-duration="2s"
                                    data-wow-delay=".2s">
                                    <h2 class="title1">Welcome to Fake News ! </h2>
                                </div>
                                <!-- layer 2 -->
                                <div class="layer-1-2 wow slideInUp" data-wow-duration="2s" data-wow-delay=".1s">
                                    <h1 class="title2"></h1>
                                </div>
                                <!-- layer 3 -->
                            </div>
                        </div>
                    </div>
                </div>
            </div>

            <!-- direction 2 -->
            <div id="slider-direction-2" class="slider-direction slider-two">
                <div class="container">
                    <div class="row">
                        <div class="col-md-12 col-sm-12 col-xs-12">
                            <div class="slider-content text-center">
                                <!-- layer 1 -->
                                <div class="layer-1-1 hidden-xs wow slideInUp" data-wow-duration="2s"
                                    data-wow-delay=".2s">
                                    <h2 class="title1">Fake News </h2>
                                </div>
                                <!-- layer 2 -->
                                <div class="layer-1-2 wow slideInUp" data-wow-duration="2s" data-wow-delay=".1s">
                                    <h1 class="title2">We're In The Business Of Spreading Fake News</h1>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>


            <!-- End Slider Area -->

        </div>
    </div>
    <!-- End Blog -->

    {% endblock %}