{% load i18n staticfiles cms_tags sekizai_tags menu_tags %}


<!-- Button trigger modal -->
<img style="width:150px; height: 135px;" class="thumbnail" src="{{ article.image.all.1 }}" class="btn btn-primary"
    data-toggle="modal" data-target="#img2">



<!-- Modal -->
<div class="modal fade" id="img2" tabindex="-1" role="dialog" aria-labelledby="exampleModalCenterTitle"
    aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <img src="{{ article.image.all.1 }}" class="modal-img close img-popup" data-dismiss="modal"
                    aria-label="Close">
            </div>
            <div class="modal-footer">
                <button type="button" class=" btn btn-secondary" data-dismiss="modal">Close</button>
            </div>
        </div>
    </div>
</div>
<!-- ****************************************** -->

<!-- Button trigger modal -->
<img style="width:150px; height: 135px;" class="thumbnail" src="{{ article.image.all.2 }}" class="btn btn-primary"
    data-toggle="modal" data-target="#img3">



<!-- Modal -->
<div class="modal fade" id="img3" tabindex="-1" role="dialog" aria-labelledby="exampleModalCenterTitle"
    aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <img src="{{ article.image.all.2 }}" class="modal-img close img-popup" data-dismiss="modal"
                    aria-label="Close">
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
            </div>
        </div>
    </div>
</div>
<!-- ****************************************** -->

<!-- Button trigger modal -->
<img style="width:150px; height: 135px;" class="thumbnail" src="{{ article.image.all.3 }}" class="btn btn-primary"
    data-toggle="modal" data-target="#img4">



<!-- Modal -->
<div class="modal fade" id="img4" tabindex="-1" role="dialog" aria-labelledby="exampleModalCenterTitle"
    aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <img src="{{ article.image.all.3 }}" class="modal-img close img-popup" data-dismiss="modal"
                    aria-label="Close">
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
            </div>
        </div>
    </div>
</div>
<!-- ****************************************** -->

<!-- Button trigger modal -->
<img style="width:150px; height: 135px;" class="thumbnail" src="{{ article.image.all.4 }}" class="btn btn-primary"
    data-toggle="modal" data-target="#img5">



<!-- Modal -->
<div class="modal fade" id="img5" tabindex="-1" role="dialog" aria-labelledby="exampleModalCenterTitle"
    aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <img src="{{ article.image.all.4 }}" class="modal-img close img-popup" data-dismiss="modal"
                    aria-label="Close">


            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
            </div>
        </div>
    </div>
</div>
<!-- ****************************************** -->

<!-- Button trigger modal -->
<img style="width:150px; height: 135px;" class="thumbnail" src="{{ article.image.all.5 }}" class="btn btn-primary"
    data-toggle="modal" data-target="#img6">



<!-- Modal -->
<div class="modal fade" id="img6" tabindex="-1" role="dialog" aria-labelledby="exampleModalCenterTitle"
    aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <img src="{{ article.image.all.5 }}" class="modal-img close img-popup" data-dismiss="modal"
                    aria-label="Close">


            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
            </div>
        </div>
    </div>
</div>
<!-- ****************************************** -->