{% extends "base.html" %}

{% load static %}
{% load article_extras %}


{% block article %}


	<!-- Start top-post Area -->
	<section class="top-post-area">
			<div class="container-fluid">
				<div class="row">
					<div class="col-lg-12 p-0">
						<div class="hero-nav-area">
							<h1 class="text-white">All News</h1>
							<p class="text-white link-nav">
								<a href="/">Home </a>
							</p>
						</div>
					</div>
				</div>
			</div>
		</section>
		<!-- End top-post Area -->
        {% include "partials/_header.html" %}
        <!-- Start Main Area -->
                           <!-- ***************************************** -->
        <div class="categories container">
            <ul class="category-ul">
                <li class="categories-title category-li">Categories:</li>
                <!-- <hr class="small-line"> -->
                <li class="category-li"><a href="/articles">All</a></li>
                {% for category in categories %}
    
                <li class="single-category">
                    <a href=" {% url 'news:articles' %}?pk={{category.id}}">{{ category.category_title }}</a>
                </li>
                {% endfor %}
            </ul>
        </div>
		<div class="category-area">
			<div class="container">
 
        <!-- ***************************************** -->
				<div class="row">
					<div class="col-lg-9 col-md-12">
						<!-- Start Technology News Area -->
						<section class="">
							<div class="row">
                                {% for article in latest_article_list %}
                                <div class="col-lg-4 col-md-5 col-sm-6">
                                        <div class="single-post single-int mb-40">
                                            <div class="thumb">
                                                <div class="relative">
                                                    <img href="{% url 'news:article' article.id %}" style="width:286px; height:177px;" class="f-img img-fluid mx-auto" src="{{ article.image.all.0 }}" alt="">
                                                </div>
                                            </div>
                                            <div class="">
                                                <div class="bottom mt-10">
                                                    <div>
                                                        <a href="#" class="primary-btn">{{ article.article_category }}</a>
                                                        <a href="{% url 'news:article' article.id %}"><span>{{ article.pub_date }}</span></a>
                                                    </div>
                                                </div>
                                                <a href="{% url 'news:article' article.id %}">
                                                    <h4>{{ article.title }}</h4>
                                                </a>
                                            </div>
                                        </div>
                                    </div>
                                    {% endfor %}

    
                                    {% if is_paginated %}

                                    <ul class=" pagination paginator">
                                        {% if page_obj.has_previous %}
                                        <li><a href="?page={{ page_obj.previous_page_number }}">&laquo;</a></li>
                            
                                        {% else %}
                            
                                        <li class="disabled"><span>&laquo;</span></li>
                            
                                        {% endif %}
                                        {% for i in paginator.page_range %}
                                        {% if page_obj.number == i %}
                            
                                        <li class="active"><span>{{ i }} <span class="sr-only">(current)</span></span></li>
                                        {% else %}
                                        <li><a href="?page={{ i }}">{{ i }}</a></li>
                            
                                        {% endif %}
                                        {% endfor %}
                                        {% if page_obj.has_next %}
                            
                                        <li><a href="?page={{ page_obj.next_page_number }}">&raquo;</a></li>
                            
                                        {% else %}
                            
                                        <li class="disabled"><span>&raquo;</span></li>
                            
                                        {% endif %}
                                    </ul>
                                    {% endif %} 
    </div>
    <hr>
	
						</section>
						<!-- End Technology News Area -->
					</div>
	
					<div class="col-lg-3 col-md-12 col-sm-12">
						<div class="row">
							<div class="col-lg-12 col-md-5 col-sm-6">
								<div class="single-post mb-20">
									<div class="thumb">
										<div class="relative">
											<img class="f-img img-fluid w-100" src="{% static 'img/c1.jpg' %}" alt="">
											<div class="overlay overlay-bg"></div>
										</div>
									</div>
									<div class="details">
										<div class="top-part d-flex justify-content-between">
											<div>
												<h4>United States</h4>
												<p>Saturday, September 08, 2018</p>
											</div>
											<div>
												<span class="lnr lnr-arrow-down text-white"></span>
											</div>
										</div>
										<div class="middle-part">
											<h1>28ºC</h1>
											<p>Partly Cloudy</p>
										</div>
	
										<div class="bottom-part">
											<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor.</p>
										</div>
									</div>
								</div>
							</div>
							<div class="col-lg-12 col-md-5 col-sm-6">
								<div class="single-post">
									<div class="thumb">
										<div class="relative">
											<img class="f-img img-fluid w-100" src="{% static 'img/c2.jpg' %}" alt="">
											<div class="overlay overlay-bg"></div>
										</div>
									</div>
									<div class="details">
										<div class="bottom d-flex justify-content-between">
											<div>
												<h4 class="mt-0">Recent Playlist</h4>
												<p>Selected by techmania</p>
											</div>
											<div>
												<span class="lnr lnr-arrow-down text-white"></span>
											</div>
										</div>
										<ul class="list">
											<li>
												<a href="#">
													Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod.
												</a>
											</li>
											<li>
												<a href="#">
													Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod.
												</a>
											</li>
											<li>
												<a href="#">
													Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod.
												</a>
											</li>
										</ul>
									</div>
								</div>
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
		<!-- End Main Area -->
	
		<!-- start footer Area -->
		<footer class="footer-area section-gap-top">
			<div class="container">
				<div class="row pb-10">
					<div class="col-lg-4 col-md-6">
						<div class="single-footer-widget">
							<div class="mb-30">
								<img src="{% static 'img/logo.png' %}" alt="">
							</div>
							<p>
								Technology and gadgets Adapter (MPA) is our favorite iPhone solution, since it lets you use the headphones
								you’re most comfortable with. It has an iPhone-compatible jack at one end and a microphone module with an
								Answer/End/Pause button and a female 3.5mm audio jack for connectingheadphones
							</p>
						</div>
					</div>
					<div class="col-lg-4 col-md-6">
						<div class="single-footer-widget">
							<h6 class="heading">Quick Links</h6>
							<div class="row">
								<ul class="col footer-nav">
									<li><a href="#">Sitemaps</a></li>
									<li><a href="#">Categories</a></li>
									<li><a href="#">Archives</a></li>
									<li><a href="#">Advertise</a></li>
									<li><a href="#">Ad Choice</a></li>
								</ul>
								<ul class="col footer-nav">
									<li><a href="#">Privacy Policy</a></li>
									<li><a href="#">Terms of Use</a></li>
									<li><a href="#">Help Center</a></li>
									<li><a href="#">Newsletters</a></li>
									<li><a href="#">Feedback</a></li>
								</ul>
							</div>
						</div>
					</div>
					<div class="col-lg-4 col-md-12">
						<div class="single-footer-widget mail-chimp">
							<h6 class="heading">Most Viewed News</h6>
							<div class="footer-news">
								<div class="single-news d-flex">
									<div class="image">
										<img class="img-fluid" src="{% static 'img/n1.jpg' %}" alt="">
									</div>
									<div class="details">
										<a href="#">
											<h4>Converter Ipod Video Taking Portable
												Video Viewing To A Whole Level</h4>
										</a>
										<div class="d-flex justify-content-between">
											<p>March 14, 2018</p>
											<p class="meta">
												<span class="lnr lnr-bubble"></span>
												<span class="likes">04</span>
											</p>
										</div>
									</div>
								</div>
								<div class="single-news d-flex">
									<div class="image">
										<img class="img-fluid" src="{% static 'img/n2.jpg' %}" alt="">
									</div>
									<div class="details">
										<a href="#">
											<h4>Converter Ipod Video Taking Portable
												Video Viewing To A Whole Level</h4>
										</a>
										<div class="d-flex justify-content-between">
											<p>March 14, 2018</p>
											<p class="meta">
												<span class="lnr lnr-bubble"></span>
												<span class="likes">04</span>
											</p>
										</div>
									</div>
								</div>
							</div>
						</div>
					</div>
				</div>
			</div>
			<div class="copyright-text">
				<div class="container">
					<div class="row footer-bottom d-flex justify-content-between">
						<p class="col-lg-8 col-sm-6 footer-text m-0 text-white"><!-- Link back to Colorlib can't be removed. Template is licensed under CC BY 3.0. -->
	Copyright &copy;<script>document.write(new Date().getFullYear());</script> All rights reserved | This template is made with <i class="fa fa-heart-o" aria-hidden="true"></i> by <a href="https://colorlib.com" target="_blank">Colorlib</a>
	<!-- Link back to Colorlib can't be removed. Template is licensed under CC BY 3.0. --></p>
						<div class="col-lg-4 col-sm-6 footer-social">
							<a href="#"><i class="fa fa-facebook"></i></a>
							<a href="#"><i class="fa fa-twitter"></i></a>
							<a href="#"><i class="fa fa-youtube-play"></i></a>
							<a href="#"><i class="fa fa-pinterest"></i></a>
							<a href="#"><i class="fa fa-rss"></i></a>
						</div>
					</div>
				</div>
			</div>
		</footer>
		<!-- End footer Area -->
{% endblock %}