{% extends "base.html" %}
{% load static %}
{% load article_extras %}







<div class="container">
    {% block articles %}

    <!-- ***************************************** -->
    <div class="category-div container">
        <ul class="category-ul">
            <li class="categories-title category-li">Categories:</li>
            <!-- <hr class="small-line"> -->
            <li class="category-li"><a href="#">All</a></li>
            {% for category in categories %}

            <li class="category-li">
                <a href=" {% url 'news:articles' %}?pk={{category.id}}">{{ category.category_title }}</a>
            </li>
            {% endfor %}
        </ul>
    </div>
    <!-- ***************************************** -->


    <hr class="hr-style1">
    <h2 class="article-list-title">Article List :</h2>
    <hr class="hr-style2">


    {% for article in latest_article_list %}

    <div class="container ">
        <div class="well">
            <div class="media">
                <a class="pull-left" href="{% url 'news:article' article.id %}">
                    <img class="media-object" src="{{ article.image.all.0 }}">
                </a>
                <div class="media-body">
                    <h4 class="media-heading"><a href="{% url 'news:article' article.id %}">{{ article.title }}</a>
                    </h4>
                    <p class="text-right">{{ article.author }}</p>
                    <p>{{ article.description }}</p>
                    <ul class="list-inline list-unstyled">
                        <li><span><i class="glyphicon glyphicon-calendar"></i> {{ article.pub_date }}
                            </span></li>
                        <li>|</li>
                        <span><i class="glyphicon glyphicon-comment"></i> 2 comments</span>
                        <li>|</li>
                        <li>
                            <span class="glyphicon glyphicon-star"></span>
                            <span class="glyphicon glyphicon-star"></span>
                            <span class="glyphicon glyphicon-star"></span>
                            <span class="glyphicon glyphicon-star"></span>
                            <span class="glyphicon glyphicon-star-empty"></span>
                        </li>
                        <li>|</li>
                        <li>
                            <span><i class="fa fa-facebook-square"></i></span>
                            <span><i class="fa fa-twitter-square"></i></span>
                            <span><i class="fa fa-google-plus-square"></i></span>
                        </li>
                    </ul>
                </div>
            </div>
        </div>
    </div>
    {% endfor %}


    <!-- pagination -->
    <div class="container paginator-css text-center">

        {% if is_paginated %}

        <ul class=" pagination paginator">
            {% if page_obj.has_previous %}
            <li><a href="?page={{ page_obj.previous_page_number }}">&laquo;</a></li>

            {% else %}

            <li class="disabled"><span>&laquo;</span></li>

            {% endif %}
            {% for i in paginator.page_range %}
            {% if page_obj.number == i %}

            <li class="active"><span>{{ i }} <span class="sr-only">(current)</span></span></li>
            {% else %}
            <li><a href="?page={{ i }}">{{ i }}</a></li>

            {% endif %}
            {% endfor %}
            {% if page_obj.has_next %}

            <li><a href="?page={{ page_obj.next_page_number }}">&raquo;</a></li>

            {% else %}

            <li class="disabled"><span>&raquo;</span></li>

            {% endif %}
        </ul>
        {% endif %}
    </div>


</div>
<hr>
{% include "partials/_about_footer.html" %}