{% extends "base.html" %}
{% load static %}
{% load article_extras %}
{% block index %}
<!-- Start Banner Area -->
<section class="banner-area">
	<div class="container-fluid">
		<div class="row">
			<div class="col-lg-3 col-md-12">
				<div class="row">
					<div class="col-lg-12 col-md-4 col-sm-6">
						<div class="single-post mb-03">
							<div class="thumb">
								<div class="relative">
									<img class="f-img img-fluid mx-auto" src="{% static 'img/banner/lb1.jpg' %}" alt="">
									<div class="overlay overlay-bg"></div>
								</div>
							</div>
							<div class="details">
								<div class="bottom d-flex justify-content-between align-items-center flex-wrap">
									<div>
										<a href="#" class="primary-btn">gadgets</a>
										<a href="#"><span>September 14, 2018</span></a>
									</div>
									<div class="meta">
										<span class="lnr lnr-bubble"></span> 04
									</div>
								</div>
								<a href="#">
									<h4>2nd Gen Smoke CO Alarm</h4>
								</a>
								<p>
									Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor
									incididunt ut labore.
									Consectetur adipisicing elit sed do eiusmod tempor.
								</p>
							</div>
						</div>
					</div>
					<div class="col-lg-12 col-md-4 col-sm-6">
						<div class="single-post mb-03">
							<div class="thumb">
								<div class="thumb">
									<div class="relative">
										<img class="f-img img-fluid mx-auto" src="{% static 'img/banner/lb1.jpg' %}"
											alt="">
										<div class="overlay overlay-bg"></div>
									</div>
								</div>
							</div>
							<div class="details">
								<div class="bottom d-flex justify-content-between align-items-center flex-wrap">
									<div>
										<a href="#" class="primary-btn">gadgets</a>
										<a href="#"><span>September 14, 2018</span></a>
									</div>
									<div class="meta">
										<span class="lnr lnr-bubble"></span> 04
									</div>
								</div>
								<a href="#">
									<h4>2nd Gen Smoke CO Alarm</h4>
								</a>
								<p>
									Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor
									incididunt ut labore.
									Consectetur adipisicing elit sed do eiusmod tempor.
								</p>
							</div>
						</div>
					</div>
					<div class="col-lg-12 col-md-4 col-sm-6">
						<div class="single-post">
							<div class="thumb">
								<div class="relative">
									<img class="f-img img-fluid mx-auto" src="{% static 'img/banner/dvojka.jpg' %}"
										alt="">
									<div class="overlay overlay-bg"></div>
								</div>
							</div>
							<div class="details">
								<div class="bottom d-flex justify-content-between align-items-center flex-wrap">
									<div>
										<a href="#" class="primary-btn">gadgets</a>
										<a href="#"><span>September 14, 2018</span></a>
									</div>
									<div class="meta">
										<span class="lnr lnr-bubble"></span> 04
									</div>
								</div>
								<a href="#">
									<h4>2nd Gen Smoke CO Alarm</h4>
								</a>
								<p>
									Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor
									incididunt ut labore.
									Consectetur adipisicing elit sed do eiusmod tempor.
								</p>
							</div>
						</div>
					</div>
				</div>
			</div>

			<div class="col-lg-6 col-md-8 owl-carousel active-banner">
				<div class="single-post">
					<div class="thumb">
						<div class="relative">
							<img class="f-img img-fluid mx-auto" src="{% static 'img/banner/bc1.jpg' %}" alt="">
							<div class="overlay overlay-bg"></div>
						</div>
					</div>
					<div class="details">
						<div class="bottom d-flex justify-content-start align-items-center flex-wrap">
							<div>
								<a href="#" class="primary-btn">gadgets</a>
								<a href="#"><span>September 14, 2018</span></a>
							</div>
							<div class="meta">
								<span class="lnr lnr-bubble"></span> 04
							</div>
						</div>
						<a href="#">
							<h4 class="lg-font">Nest Protect: 2nd Gen Smoke <br>
								+ CO Alarm</h4>
						</a>
						<p>
							Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt
							ut labore. Lorem
							ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut
							labore.
						</p>
						<a href="#" class="primary-btn fill mt-30">read more</a>
					</div>
				</div>

				<div class="single-post">
					<div class="thumb">
						<div class="relative">
							<img class="f-img img-fluid mx-auto" src="{% static 'img/banner/bc1.jpg' %}" alt="">
							<div class="overlay overlay-bg"></div>
						</div>
					</div>
					<div class="details">
						<div class="bottom d-flex justify-content-start align-items-center flex-wrap">
							<div>
								<a href="#" class="primary-btn">gadgets</a>
								<a href="#"><span>September 14, 2018</span></a>
							</div>
							<div class="meta">
								<span class="lnr lnr-bubble"></span> 04
							</div>
						</div>
						<a href="#">
							<h4 class="lg-font">Nest Protect: 2nd Gen Smoke <br>
								+ CO Alarm</h4>
						</a>
						<p>
							Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt
							ut labore. Lorem
							ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut
							labore.
						</p>
						<a href="#" class="primary-btn fill mt-30">read more</a>
					</div>
				</div>
			</div>

			<div class="col-lg-3 col-md-4">
				<div class="row">
					<div class="col-lg-12 col-md-12 col-sm-6">
						<div class="single-post mb-03">
							<div class="thumb">
								<div class="relative">
									<img class="f-img img-fluid mx-auto" src="{% static 'img/banner/br2.jpg' %}" alt="">
									<div class="overlay overlay-bg"></div>
								</div>
							</div>
							<div class="details">
								<div class="top-part d-flex justify-content-between">
									<div>
										<h4>United States</h4>
										<p>Saturday, September 08, 2018</p>
									</div>
									<div>
										<span class="lnr lnr-arrow-down text-white"></span>
									</div>
								</div>
								<div class="middle-part">
									<h1>28ºC</h1>
									<p>Partly Cloudy</p>
								</div>

								<div class="bottom-part">
									<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor
										incididunt ut labore.</p>
								</div>
							</div>
						</div>
					</div>
					<div class="col-lg-12 col-md-12 col-sm-6">
						<div class="single-post">
							<div class="thumb">
								<div class="relative">
									<img class="f-img img-fluid mx-auto" src="{% static 'img/banner/br1.jpg' %}" alt="">
									<div class="overlay overlay-bg"></div>
								</div>
							</div>
							<div class="details">
								<div class="bottom d-flex justify-content-between">
									<div>
										<h4 class="mt-0">Recent Music Playlist</h4>
										<p>Selected by techmania</p>
									</div>
									<div>
										<span class="lnr lnr-arrow-down text-white"></span>
									</div>
								</div>
								<ul class="list">
									<li>
										<a href="#">
											Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod
											tempor incididunt ut labore.
										</a>
									</li>
									<li>
										<a href="#">
											Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod
											tempor incididunt ut labore.
										</a>
									</li>
									<li>
										<a href="#">
											Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod
											tempor incididunt ut labore.
										</a>
									</li>
								</ul>
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
</section>
<!-- End Banner Area -->

{% include "partials/_header.html" %}


<!-- Start Latest News Area -->
<section class="popular-news-area">
	<div class="container">
		<div class="row">
			<div class="col-lg-12">
				<div class="section-title">
					<h2 class="heading">Latest News</h2>
				</div>
			</div>
		</div>

		<div class="row">
			<div class="col-lg-6 col-md-6 col-sm-12">
				<div class="single-post single-int mb-40">
					<div class="thumb">
						<div class="relative">
							<img class="f-img img-fluid mx-auto" src="{{ latest_article_list.2.image.all.0 }}" alt="">
							<a class="play-btn" href="https://www.youtube.com/watch?v=ARA0AxrnHdM">
							</a>
						</div>
					</div>
					<div class="">
						<div class="bottom mt-10 d-flex justify-content-between align-items-center flex-wrap">
							<div>
								<a href="#" class="primary-btn">{{ latest_article_list.2.article_category }}</a>
								<a href="#"><span>{{ latest_article_list.2.pub_date }}</span></a>
							</div>
							<div class="meta">
								<span class="lnr lnr-bubble"></span> 04
							</div>
						</div>
						<a href="#">
							<h2 class="mt-15">{{ latest_article_list.2.title }}</h2>
						</a>
						<p>
							{{ latest_article_list.2.description }}
						</p>
					</div>
				</div>
			</div>

			<div class="col-lg-6 col-md-6 col-sm-12">
				{% for article in latest_article_list|slice:"0:2" %}
				{% ifnotequal article.title "Google wins landmark right to be forgotten case" %}
				<div class="row">
					<div class="col-lg-6" style="height:350px;">
						<div class="single-post single-int mb-40">
							<div class="thumb">
								<div class="relative">
									<img class="index-img f-img img-fluid mx-auto" src="{{ article.image.all.0 }}"
										alt="">
								</div>
							</div>
							<div class="">
								<div class="bottom mt-10 d-flex justify-content-between align-items-center flex-wrap">
									<div>
										<a href="#" class="primary-btn">{{ article.article_category }}</a>
										<a href="#"><span>{{ article.pub_date }}</span></a>
									</div>
								</div>
								<a href="{% url 'news:article' article.id %}">
									<h4>{{ article.title }}</h4>
								</a>
							</div>
						</div>
					</div>
				</div>
				{% endifnotequal %}
				{% endfor %}
			</div>
		</div>

		<div class="row">
			{% for article in latest_article_list|slice:"2:" %}
			{% ifnotequal article.title "Google wins landmark right to be forgotten case" %}
			<div class="col-lg-3 col-md-6 col-sm-6">

				<div class="single-post single-int mb-40">
					<div class="thumb">
						<div class="relative">
							<img style="width:286px;" class="index-img f-img img-fluid mx-auto"
								src="{{ article.image.all.0 }}" alt="">
						</div>
					</div>
					<div class="">
						<div class="bottom mt-10 d-flex justify-content-between align-items-center flex-wrap">
							<div>
								<a href="#" class="primary-btn">{{ article.article_category }}</a>
								<a href="#"><span>{{ article.pub_date }}</span></a>
							</div>
						</div>
						<a href="{% url 'news:article' article.id %}">
							<h4>{{ article.title }}</h4>
						</a>
					</div>
				</div>
			</div>
			{% endifnotequal %}
			{% endfor %}



		</div>
	</div>
</section>
<!-- End Latest News Area -->


<!-- Start Exclusive Videos Area -->
<section class="excl-vdo-area section-gap-top-35">
	<div class="container">
		<div class="row">
			<div class="col-lg-12">
				<div class="section-title">
					<h2 class="heading">Exclusive Videos</h2>
				</div>
			</div>
		</div>

		<div class="row">
			<div class="col-lg-12 owl-carousel active-banner">
				<div class="single-post">
					<div class="thumb">
						<div class="relative">
							<img class="f-img img-fluid mx-auto" src="{% static 'img/exclusive-videos/e1.jpg' %}"
								alt="">
							<div class="overlay overlay-bg"></div>
						</div>
					</div>
					<div class="details">
						<div class="bottom d-flex justify-content-start align-items-center flex-wrap">
							<div>
								<a href="#" class="primary-btn">gadgets</a>
								<a href="#"><span>September 14, 2018</span></a>
							</div>
							<div class="meta">
								<span class="lnr lnr-bubble"></span> 04
							</div>
						</div>
						<a href="#">
							<h4 class="lg-font">Nest Protect: 2nd Gen Smoke
								+ CO Alarm</h4>
						</a>
						<p>
							Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do
							eiusmod tempor incididunt
							ut labore. Lorem
							ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod
							tempor incididunt ut
							labore.
						</p>
						<a class="play-btn" href="https://www.youtube.com/watch?v=ARA0AxrnHdM">
							<img src="{% static 'img/video-icon.jpg' %}" class="mt-30" alt="">
						</a>
					</div>
				</div>

				<div class="single-post">
					<div class="thumb">
						<div class="relative">
							<img class="f-img img-fluid mx-auto" src="{% static 'img/exclusive-videos/e1.jpg' %}"
								alt="">
							<div class="overlay overlay-bg"></div>
						</div>
					</div>
					<div class="details">
						<div class="bottom d-flex justify-content-start align-items-center flex-wrap">
							<div>
								<a href="#" class="primary-btn">gadgets</a>
								<a href="#"><span>September 14, 2018</span></a>
							</div>
							<div class="meta">
								<span class="lnr lnr-bubble"></span> 04
							</div>
						</div>
						<a href="#">
							<h4 class="lg-font">Nest Protect: 2nd Gen Smoke
								+ CO Alarm</h4>
						</a>
						<p>
							Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do
							eiusmod tempor incididunt
							ut labore. Lorem
							ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod
							tempor incididunt ut
							labore.
						</p>
						<a class="play-btn" href="https://www.youtube.com/watch?v=ARA0AxrnHdM">
							<img src="{% static 'img/video-icon.jpg' %}" class="mt-30" alt="">
						</a>
					</div>
				</div>

				<div class="single-post">
					<div class="thumb">
						<div class="relative">
							<img class="f-img img-fluid mx-auto" src="{% static 'img/exclusive-videos/e1.jpg' %}"
								alt="">
							<div class="overlay overlay-bg"></div>
						</div>
					</div>
					<div class="details">
						<div class="bottom d-flex justify-content-start align-items-center flex-wrap">
							<div>
								<a href="#" class="primary-btn">gadgets</a>
								<a href="#"><span>September 14, 2018</span></a>
							</div>
							<div class="meta">
								<span class="lnr lnr-bubble"></span> 04
							</div>
						</div>
						<a href="#">
							<h4 class="lg-font">Nest Protect: 2nd Gen Smoke
								+ CO Alarm</h4>
						</a>
						<p>
							Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do
							eiusmod tempor incididunt
							ut labore. Lorem
							ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod
							tempor incididunt ut
							labore.
						</p>
						<a class="play-btn" href="https://www.youtube.com/watch?v=ARA0AxrnHdM">
							<img src="{% static 'img/video-icon.jpg' %}" class="mt-30" alt="">
						</a>
					</div>
				</div>
			</div>
		</div>
	</div>
</section>
<!-- End Exclusive Videos Area -->



<!-- Start Editor's Pick  Area -->
<section class="int-news-area section-gap-top">
	<div class="container">
		<div class="row">
			<div class="col-lg-8 col-md-12">
				<div class="row">
					<div class="col-lg-12">
						<div class="section-title">
							<h2 class="heading">Editor's Pick</h2>
						</div>
					</div>
				</div>

				<div class="row">
					<div class="col-lg-7 col-md-8">
						<div class="single-post single-int mb-40">
							<div class="thumb">
								<div class="relative">
									<img class="f-img w-100 img-fluid mx-auto"
										src="{{ latest_article_list.0.image.all.3 }}" alt="">
								</div>
							</div>
							<div class="">
								<div class="bottom pt-30 d-flex justify-content-between align-items-center flex-wrap">
									<div>
										<a href="http://localhost:8000/{{latest_article_list.0.id}}"
											class="primary-btn">{{ latest_article_list.0.article_category }}</a>
										<a
											href="http://localhost:8000/{{latest_article_list.0.id}}"><span>{{ latest_article_list.0.pub_date }}</span></a>
									</div>
									<div class="meta">
										<span class="lnr lnr-bubble"></span> 04
									</div>
								</div>
								<a href="http://localhost:8000/{{latest_article_list.0.id}}">
									<h4>{{ latest_article_list.0.title }}</h4>


								</a>
								<p>
									{{ latest_article_list.0.description }}
								</p>
							</div>
						</div>
					</div>
					<div class="col-lg-5 col-md-12">
						<div class="row">
							<div class="col-lg-12 col-md-6 col-sm-6">
								<div class="single-post single-int mb-40">
									<div class="thumb">
										<div class="relative">
											<img class="f-img w-100 img-fluid mx-auto"
												src="{{ latest_article_list.1.image.all.1 }}" alt="">
										</div>
									</div>
									<div class="">
										<div class="bottom mt-10">
											<div>
												<a href="http://localhost:8000/{{latest_article_list.1.id}}"
													class="primary-btn">{{latest_article_list.1.article_category }}
												</a>
												<a
													href="http://localhost:8000/{{latest_article_list.1.id}}"><span>{{ latest_article_list.1.pub_date}}</span></a>
											</div>
										</div>
										<a href="http://localhost:8000/{{latest_article_list.1.id}}">
											<h4 class="mt-15">{{ latest_article_list.1.description }}</h4>
										</a>
									</div>
								</div>
							</div>
							<div class="col-lg-12 col-md-6 col-sm-6">
								<div class="single-post single-int mb-40">
									<div class="thumb">
										<div class="relative">
											<img class="f-img w-100 img-fluid mx-auto"
												src="{{ latest_article_list.2.image.all.0 }}" alt="">
										</div>
									</div>
									<div class="">
										<div class="bottom mt-10">
											<div>
												<a href="http://localhost:8000/{{latest_article_list.2.id}}"
													class="primary-btn">{{ latest_article_list.2.article_category }}</a>
												<a
													href="http://localhost:8000/{{latest_article_list.2.id}}"><span>{{ latest_article_list.2.pub_date}}</span></a>
											</div>
										</div>
										<a href="http://localhost:8000/{{latest_article_list.2.id}}">
											<h4>{{ latest_article_list.2.description}}</h4>
										</a>
									</div>
								</div>
							</div>
						</div>
					</div>
				</div>
			</div>

			<div class="col-lg-4">
				<div class="ad-widget-wrap">
					<img src="{% static 'img/ad-300-600.jpg' %}" alt="">
				</div>
			</div>
		</div>
	</div>
</section>




<!-- End International News Area -->
<section class="tech-news-area section-gap-top-60">
	<div class="container">
		<div class="row">
			<div class="col-lg-12">
				<div class="section-title">
					<h2 class="heading">Technology News</h2>
				</div>
			</div>
		</div>
		{% tech %}
		<section class="tech-news-area section-gap-top-35">
			<div class="container">
				<div class="row">
					<div class="col-lg-12">
						<div class="section-title">
							<h2 class="heading">Sports News</h2>
						</div>
					</div>
				</div>
				{% sports %}
				<section class="tech-news-area section-gap-top-35">
					<div class="container">
						<div class="row">
							<div class="col-lg-12">
								<div class="section-title">
									<h2 class="heading">Politics News</h2>
								</div>
							</div>
						</div>
						{% politics %}






						<!-- start footer Area -->
						<footer class="footer-area section-gap-top">
							<div class="container">
								<div class="row pb-10">
									<div class="col-lg-4 col-md-6">
										<div class="single-footer-widget">
											<div class="mb-40">
												<img src="{% static 'img/logo.png' %}" alt="">
											</div>
											<p>
												Technology and gadgets Adapter (MPA) is our favorite iPhone solution,
												since it lets you
												use
												the headphones
												you’re most comfortable with. It has an iPhone-compatible jack at one
												end and a
												microphone
												module with an
												Answer/End/Pause button and a female 3.5mm audio jack for
												connectingheadphones
											</p>
										</div>
									</div>
									<div class="col-lg-4 col-md-6">
										<div class="single-footer-widget">
											<h6 class="heading">Quick Links</h6>
											<div class="row">
												<ul class="col footer-nav">
													<li><a href="#">Sitemaps</a></li>
													<li><a href="#">Categories</a></li>
													<li><a href="#">Archives</a></li>
													<li><a href="#">Advertise</a></li>
													<li><a href="#">Ad Choice</a></li>
												</ul>
												<ul class="col footer-nav">
													<li><a href="#">Privacy Policy</a></li>
													<li><a href="#">Terms of Use</a></li>
													<li><a href="#">Help Center</a></li>
													<li><a href="#">Newsletters</a></li>
													<li><a href="#">Feedback</a></li>
												</ul>
											</div>
										</div>
									</div>
									<div class="col-lg-4 col-md-12">
										<div class="single-footer-widget mail-chimp">
											<h6 class="heading">Most Viewed News</h6>
											<div class="footer-news">
												<div class="single-news d-flex">
													<div class="image">
														<img class="" src="{% static 'img/n1.jpg' %}" alt="">
													</div>
													<div class="details">
														<a href="#">
															<h4>Converter Ipod Video Taking Portable
																Video Viewing To A Whole Level</h4>
														</a>
														<div class="d-flex justify-content-between">
															<p>March 14, 2018</p>
															<p class="meta">
																<span class="lnr lnr-bubble"></span>
																<span class="likes">04</span>
															</p>
														</div>
													</div>
												</div>
												<div class="single-news d-flex">
													<div class="image">
														<img class="" src="{% static 'img/n2.jpg' %}" alt="">
													</div>
													<div class="details">
														<a href="#">
															<h4>Converter Ipod Video Taking Portable
																Video Viewing To A Whole Level</h4>
														</a>
														<div class="d-flex justify-content-between">
															<p>March 14, 2018</p>
															<p class="meta">
																<span class="lnr lnr-bubble"></span>
																<span class="likes">04</span>
															</p>
														</div>
													</div>
												</div>
											</div>
										</div>
									</div>
								</div>
							</div>
							<div class="copyright-text">
								<div class="container">
									<div class="row footer-bottom d-flex justify-content-between">
										<p class="col-lg-8 col-sm-6 footer-text m-0 text-white">
											<!-- Link back to Colorlib can't be removed. Template is licensed under CC BY 3.0. -->
											Copyright &copy;
											<script>document.write(new Date().getFullYear());</script> All rights
											reserved | This
											template
											is made with <i class="fa fa-heart-o" aria-hidden="true"></i> by <a
												href="https://colorlib.com" target="_blank">Colorlib</a>
											<!-- Link back to Colorlib can't be removed. Template is licensed under CC BY 3.0. -->
										</p>
										<div class="col-lg-4 col-sm-6 footer-social">
											<a href="#"><i class="fa fa-facebook"></i></a>
											<a href="#"><i class="fa fa-twitter"></i></a>
											<a href="#"><i class="fa fa-youtube-play"></i></a>
											<a href="#"><i class="fa fa-pinterest"></i></a>
											<a href="#"><i class="fa fa-rss"></i></a>
										</div>
									</div>
								</div>
							</div>
						</footer>
						<!-- End footer Area -->

						{% endblock %}