{% load article_extras %}
<!-- <div class="index-filtered-articles">
    <ul>
        {% for a in article %}
        <li class="recent-post">
            <div class="post-img">
                <img src="{{ a.image.all.0 }}" class="img-responsive">
            </div>
            <a href="#">
                <h5>{{ a.title|truncatechars:50 }}</h5>
            </a>
            <p><small><i class="fa fa-calendar" data-original-title="" title=""></i> {{ a.pub_date }}</small></p>
        </li>
        <hr>
        {% endfor %}

    </ul>

</div> -->


<!-- Start Technology News Area -->

<div class="row">
    {% for a in article %}
    <div class="col-lg-3 col-md-5 col-sm-6">
        <div class="single-post single-int mb-40">
            <div class="thumb">
                <div class="relative">
                    <img class="f-img img-fluid mx-auto" src="{{ a.image.all.0 }}" alt="">
                </div>
            </div>
            <div class="">
                <div class="bottom mt-10">
                    <div>
                        <a href="#" class="primary-btn">{{ a.article_category }}</a>
                        <a href="#"><span>{{ a.pub_date }}</span></a>
                    </div>
                </div>
                <a href="#">
                    <h4>{{ a.title }}</h4>
                </a>
            </div>
        </div>
    </div>
    {% endfor %}
</div>

<!-- End Technology News Area -->