/* =================================== */

/*  Footer Styles
/* =================================== */

.footer-area {
    background: #2e2e2e;
    .single-footer-widget {
        h6 {
            font-size: 18px;
            color: $white;
            margin-bottom: 30px;
            &.heading {
                border-bottom: 1px solid #252525;
            }
        }
        p {
            margin-right: 15px;
        }
        .footer-nav {
            li {
                margin-bottom: 12px;
                a {
                    color: $text-color;
                    &:hover {
                        color: $white;
                    }
                }
            }
        }
        @media(max-width:960px) {
            margin-bottom: 30px;
        }
        .footer-news {
            @media (max-width: 991px) {
                @include flexbox();
            }
            @media (max-width: 380px) {
                display: block !important;
            }
        }
    }
    .single-news {
        margin-bottom: 20px;
        @media (max-width: 991px) {
            @include flex-direction(column);
        }
        .details {
            margin-left: 18px;
            h4 {
                font-size: 14px;
                margin-bottom: 16px;
                line-height: 22px;
                @include transition();
                &:hover {
                    cursor: pointer;
                }
            }
            .meta {
                .lnr {
                    margin-right: 10px;
                }
                @media (max-width: 991px) {
                    display: none;
                }
            }
            p {
                text-transform: uppercase;
                font-size: 12px;
            }
        }
        @media(max-width:1024px) {
            img {
                max-width: 100%;
            }
            .details {
                h4 {
                    font-size: 13px;
                    margin-bottom: 0;
                }
            }
        }
        @media(max-width:991px) {
            .details {
                h4 {
                    margin-right: 30px;
                }
            }
        }
        @include media-breakpoint-down(md) {
            .details {
                margin-top: 20px;
                margin-left: 0px;
            }
        }
    }
    .copyright-text {
        padding: 25px 0;
        border-top: 1px solid #252525;
        a {
            color: $primary-color;
        }
        .footer-social {
            text-align: right;
            a {
                color: $text-color;
                display: inline-block;
                margin-right: 15px;
                font-size: 12px;
                height: 30px;
                line-height: 30px;
                width: 30px;
                background: #252525;
                text-align: center;
                &:hover {
                    color: $white;
                    background: $primary-color;
                }
            }
        }
        @media(max-width:572px) {
            .footer-social {
                text-align: center;
                margin-top: 10px;
            }
        }
    }
    .footer-text {
        @media(max-width:575px) {
            margin-bottom: 20px!important;
        }
    }
}