.section-gap-top {
    padding-top: 100px;
    @media(max-width: 991px) {
        padding-top: 60px;
    }
}

.section-gap-top-60 {
    padding-top: 60px;
    @media(max-width: 991px) {
        padding-top: 20px;
    }
}
.section-gap-custom-bottom {
    padding: 100px 0 40px;
    @media(max-width: 991px) {
        padding: 60px 0 20px;
    }
}

.section-gap {
    padding: 100px 0;
    @media(max-width: 991px) {
        padding: 60px;
    }
}

.alert-msg {
    color: #008000;
}

.primary-btn {
    background: transparent;
    line-height: 28px;
    padding-left: 18px;
    padding-right: 18px;
    border: 2px solid $primary-color;
    color: $white;
    display: inline-block;
    font-size: 12px;
    font-weight: 500;
    position: relative;
    text-transform: capitalize;
    @include transition();
    cursor: pointer;
    position: relative;
    &:focus {
        outline: none;
    }
    &:hover {
        background: $primary-color;
        color: $white !important;
    }
    &.fill {
        background: $primary-color;
        line-height: 46px;
        padding-left: 38px;
        padding-right: 38px;
        font-size: 14px;
        &:hover {
            background: transparent;
        }
    }
}

.mb-03 {
    @media (max-width: 1440px) {
        margin-bottom: -3px!important;
    }
}

.owl-controls {
    position: absolute;
    right: 10%;
    bottom: 50px;
    @media(max-width: 991px) {
        display: none;
    }
    .owl-nav {
        display: flex;
        display: -ms-flex;
    }
    .lnr-arrow-left,
    .lnr-arrow-right {
        background-color: #555e8e;
        padding: 14px;
        color: $white;
        font-weight: 500;
        border: 2px solid #555e8e;
        display: inline-flex;
        margin-right: 10px;
        @include transition();
        &:hover {
            background: transparent;
            border: 2px solid $primary-color;
        }
    }
}

.primary-btn.squire {
    border-radius: 0px !important;
    border: 1px solid transparent;
    &:hover {
        border: 1px solid $white;
        background: transparent;
        color: $white;
    }
}

.overlay {
    position: absolute;
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
}

.section-title {
    margin-bottom: 25px;
    @media (max-width: 1024px) {
        margin-bottom: 10px;
    }
}

.heading {
    font-size: 20px;
    font-weight: 600;
    text-transform: capitalize;
    position: relative;
    padding-bottom: 10px;
    border-bottom: 1px solid #383838;
    @media (max-width: 1024px) {
        font-size: 40px;
        margin-bottom: 30px;
    }
    @media (max-width: 1024px) {
        font-size: 30px;
    }
    &:before {
        content: '';
        position: absolute;
        left: 0;
        bottom: -4px;
        width: 7px;
        height: 7px;
        background: $primary-color;
        border-radius: 7px;
    }
    &:after {
        content: '';
        position: absolute;
        left: 0;
        bottom: -1px;
        width: 50px;
        height: 1px;
        background: $primary-color;
    }
}

.hero-nav-area {
    text-align: center;
    background: #2e2e2e;
    color: $white;
    padding: 105px 0px;
    h1 {
        font-size: 36px;
        margin-bottom: 10px;
        @media(max-width: 413px) {
            font-size:30px;
        }
    }
    p {
        .lnr {
            font-size: 14px;
            font-weight: 700;
            padding: 0px 8px;
        }
        a {
            padding: 0px 8px;
            color: $white;
            &:hover {
                color: $primary-color;
            }
        }
    }
}